/* -------------------------------------------------------------------------- */
/* Descendant Selector */
/* Selects all <p> elements descendants of a <div> (i.e., children, grandchildren, etc.) */
/* -------------------------------------------------------------------------- */

div p {
  color: red;
}

#myDiv p {
  color: red;
}

.myClass p {
  color: red;
}

/* 
Example:
<div class="myClass">
        <p>This paragraph will be red because it's a direct child of div.myClass.</p>
        <div>
                <p>This paragraph will also be red because it's a descendant (grandchild) of div.myClass.</p>
        </div>
</div>
*/

/* -------------------------------------------------------------------------- */
/* Class/ID Selector Combined with Type Selector */
/* Selects all p elements that have the class myClass. */
/* -------------------------------------------------------------------------- */

p.myClass {
  color: red;
}

p#myID {
  color: red;
}

/* 
Example:
<p class="myClass">This paragraph will be red because it has the class myClass.</p>
*/

/* -------------------------------------------------------------------------- */
/* Child Selector */
/* Selects all <p> elements that are children ONLY of <div> elements */
/* -------------------------------------------------------------------------- */

div > p {
  color: red;
}

/* 
Example:
<div>
        <p>This paragraph will be blue because it's a direct child of a div.</p>
</div>
*/

/* -------------------------------------------------------------------------- */
/* Adjacent Sibling Selector */
/* Selects all <p> elements that are placed immediately after <div> elements */
/* -------------------------------------------------------------------------- */

div + p {
  color: red;
}

/* 
Example:
<div></div>
<p>This paragraph will be green because it's immediately after a div.</p>
*/

/* -------------------------------------------------------------------------- */
/* General Sibling Selector */
/* Selects all <p> elements that are siblings of <div> elements */
/* -------------------------------------------------------------------------- */

div ~ p {
  color: red;
}

/* 
Example:
<div></div>
<p>This paragraph will be purple because it's a sibling of a div.</p>
<p>This paragraph will also be purple because it's a sibling of a div.</p>
*/

/* -------------------------------------------------------------------------- */
/* Attribute Selector */
/* Selects all elements with a specific attribute */
/* -------------------------------------------------------------------------- */

input[type="text"] {
  color: red;
}

input[type="submit"] {
  color: red;
}

/*
Example:
<input type="text" value="Name">
<input type="submit" value="Submit">
*/
