/* Basic CSS reset -------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
button,
input,
textarea,
select {
  font: inherit; /* Inherit fonts for form elements */
  margin: 0; /* Remove margin */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* End of basic CSS reset ------------------------- */
